.PlanetCard{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
}


.card-container {
    font-size: 14px;
    position: absolute;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    /* transform: translateX(-50%); */
}