body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
p, h2, h3 {
  /* font-family: 'Roman'; */
  font-family: 'Anek Telugu', sans-serif;
}

h1, h4{
  font-family: 'Abril Fatface', cursive;
}
@font-face {
  font-family: 'Storybook';
  src: local('Storybook'), url(./asset/fonts/Storybook.TTF) format('TTF');
}

@font-face {
  font-family: 'Roman';
  src: local('AvenirLTStd-Roman'), url(./asset/fonts/AvenirLTStd-Roman.otf) format('otf');
}